*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container__error{
    color: red;
}

.container__transaction{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
